@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{<div id="MyDiv" class="Divv">
    <div id="SignUpDialog" title="Sign Up">

    </div>
</div>
<div id="dialog" title="Confirmation">
    <p id="MySpan">Are you sure you want to create user?</p>
</div>
<script src="~/lib/jquery/dist/MyGramJQuery.js"></script>
}